body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.dropdown-menu a:hover {
    background-color: #007bff;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sub-navbar {
    background-color: #e3f2fd;
    padding: 10px;
}

.sub-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.sub-navbar li {
    margin-right: 20px;
}

.sub-navbar a {
    text-decoration: none;
    color: black;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin: 60px;
    flex-wrap: wrap;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    width: 400px;
    margin: 40px;
    border-radius: 5px;
    text-align: center;
    height: 250px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-top: 5px;
}

.card-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.card-body {
    padding: 15px;
}

.card-body p {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-primary {
    background-color: #007bff;
}

